* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
}
a {
    color: #2980b9;
    text-decoration: none;
}


/* Animation */
@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1, 0.1); opacity: 0.0;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		-webkit-transform: scale(1.2, 1.2); opacity: 0.0;
	}
}
.pulsate {
	-webkit-animation: pulsate .8s ease-out;
	-webkit-animation-iteration-count: infinite; 
}


.center {
    text-align: center;
}

.logo {
    margin: 64px auto;
    width: 128px;
    height: 128px;
    background: url('/icon/logo-128x128.png') 50% 50% no-repeat;
}


header {
    display: block;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    
    color: #fff;
    background: #2980b9;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
header a {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    color: inherit;
}
header a:hover {
    background: rgba(0, 0, 0, 0.2);
}
header a .icon {
    min-width: 20px;
}
header a .text {
    margin-right: 12px;
}
