<!doctype html>
<html ng-app="chat">
    <head>
        <title>DET-Chat</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        
        <link type="text/css" rel="stylesheet" href="css/icons.css" media="all" />
        <link type="text/css" rel="stylesheet" href="css/style.css" media="all" />
        
        <script type="text/javascript" src="js/moment.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/modules/angular-route-plus.js"></script>
        <script type="text/javascript" src="js/modules/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/modules/angular-animate.js"></script>
        <script type="text/javascript" src="js/modules/angular-touch.js"></script>
        
        <script type="text/javascript" src="js/util.js"></script>
        
        <script type="text/javascript" src="js/app.js"></script>
        
        <script type="text/javascript" src="js/app/values.js"></script>
        <script type="text/javascript" src="js/app/service.js"></script>
        <script type="text/javascript" src="js/app/directive.js"></script>
        <script type="text/javascript" src="js/app/filter.js"></script>
        <script type="text/javascript" src="js/app/controller.js"></script>
    </head>
    <body>
        <!--<style>
            td {
                background: #f4f4f4;
                margin: 1px;
                padding: 4px;
                text-align: left;
                vertical-align: top;
            }
        </style>
        <div ng-controller="TestCtrl">
            SID: {{sid}}
            <table>
                <tr ng-repeat="test in tests">
                    <td>{{test.name}}</td>
                    <td style="word-break: break-word;">{{test.result}}</td>
                </tr>
            </table>
            <button ng-click="testUser()">Test!</button>
            <button ng-click="testImg()">Test Img!</button>
            <button ng-click="logout()">Logout!</button>
            <img ng-src="{{imgSrc}}" />
        </div>-->
        
        
        <div ng-view>
        </div>
    </body>
</html>
