<div ng-controller="AddFriendCtrl">
    <form ng-submit="search()">
        <input type="text" ng-model="uid" placeholder="Benutzername" />
        <input type="submit" value="+" />
    </form>
    <div class="card big-card user" ng-show="user">
        <div class="user-img">
            <img ng-src="{{user.image}}" />
        </div>
        <div class="user-name">
            <span ng-bind="user.nick"></span>
        </div>
        <div>
            <span class="button" ng-click="add()" ng-show="user.added===undefined">Hinzuf&uuml;gen</span>
            <span ng-show="user.added===null">...</span>
            <span ng-show="user.added===true">Hinzugef&uuml;gt!</span>
            <span ng-show="user.added===false">Fehler</span>
        </div>
    </div>
    <div ng-show="user===false">
        Nicht gefunden :(
    </div>
</div>
