<header>
    <a href="#/home">
        <span class="icon icon-back" ng-show="{{actionbar.back}}"></span>
        <span class="icon icon-det"></span>
    </a>
    <span class="text">{{actionbar.title}}</span>
</header>

<div class="sideview" ng-controller="ChatsCtrl">
    <div class="groupbox">
        <div class="header">Gruppen</div>
        <div ng-click="goto('/creategroup')">
            <div class="title">Neue Gruppe</div>
        </div>
        <div>
            <div ng-repeat="group in groups" ng-click="goto('/chat/g/' + group.name)">
                <div class="title">{{group.title}}</div>
                <div class="subtitle">{{group.lastmsg}}</div>
            </div>
        </div>
    </div>
    <div class="groupbox">
        <div class="header">Freunde</div>
        <div ng-click="goto('/addfriend')">
            <div class="title">Freund hinzuf&uuml;gen</div>
        </div>
        <div>
            <div ng-repeat="friend in friends" ng-click="goto('/chat/' + friend.name)">
                <div class="title">{{friend.nick}}</div>
                <div class="subtitle">{{friend.lastmsg}}</div>
            </div>
        </div>
    </div>
    <a href="#/home">Home</a>
    <a href="#/home/chat/dennis">Chat (dennis)</a>
    <a href="#/home/addfriend">Add Friend</a>
    <a href="#/home/group/2">Group (2)</a>
    <a href="#/home/tim/profile">Profile (tim)</a>
    <a href="#/settings">Settings</a>
</div>

<div class="mainview" ng-include="subview" ng-class="{active:mainview}">
</div>
