/* animations */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
.pulsate {
  -webkit-animation: pulsate 0.8s ease-out;
  -webkit-animation-iteration-count: infinite;
}
/* global */
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  cursor: default;
  background: #f0f0f0;
  min-height: 100%;
  -webkit-user-select: none;
  user-select: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* view-themed */
.view-themed {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
}
.view-themed.view-themed-blue {
  background: #4285f4;
}
.view-themed .icon {
  margin: 48px auto;
  width: 128px;
  height: 128px;
  font-size: 128px;
  color: #ffffff;
}
.view-themed .loading {
  display: block;
  margin: 96px auto 0;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #ffffff;
}
/* android like actionbar */
header {
  display: block;
  height: 58px;
  background: #404040;
}
header.blue {
  background: #4285f4;
}
header.green {
  background: #0f9d58;
}
header.red {
  background: #cb4437;
}
header.yellow {
  background: #f4b400;
}
header .button {
  display: block;
  float: left;
  height: 58px;
  width: 58px;
  line-height: 58px;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
header .button:hover {
  color: #ffffff;
}
header .text {
  float: left;
  color: #fff;
  line-height: 58px;
}
header .dropdown {
  position: relative;
}
header .dropdown .dropdown-trigger {
  float: right;
  display: block;
  margin: 7px;
  width: 32px;
  height: 32px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 9px 16px 9px 9px;
}
header .dropdown .dropdown-menu {
  display: block;
  position: absolute;
  top: 52px;
  right: 16px;
  padding: 8px 0;
  min-width: 140px;
  background: #fcfcfc;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
}
header .dropdown .dropdown-menu .menuitem {
  display: block;
  padding: 8px 22px;
  cursor: pointer;
}
header .dropdown .dropdown-menu .menuitem:hover {
  background: #f0f0f0;
}
/* main content section */
section {
  margin-bottom: 42px;
}
section.scroll-container {
  position: absolute;
  margin: 0;
  top: 58px;
  bottom: 42px;
  width: 100%;
  overflow: auto;
}
/* footer */
footer {
  display: block;
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 42px;
  background: #e0e0e0;
}
/* inputs */
.alert {
  display: block;
  margin: 20px;
  padding: 14px;
  border-radius: 4px;
  background: #ffffff;
  color: #141414;
  text-align: center;
}
.alert.alert-invert {
  color: #ffffff;
  background: #141414;
}
.alert.alert-error {
  color: #cb4437;
}
.alert.alert-error.alert-invert {
  color: #ffffff;
  background: #cb4437;
}
.alert.alert-success {
  color: #0f9d58;
}
.alert.alert-success.alert-invert {
  color: #ffffff;
  background: #0f9d58;
}
form {
  margin: 20px;
}
form.input-group {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
}
form.input-group .group-input {
  display: table-cell;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  height: 42px;
  line-height: 18px;
  color: #141414;
  font-family: 'Roboto', sans-serif;
  border: none;
  background: none;
  resize: none;
}
form.input-group .group-input:focus {
  outline: none;
}
form .label {
  display: block;
  color: #ffffff;
  margin-bottom: 4px;
}
form .input-text {
  display: block;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-bottom: 12px;
}
form .input-text:focus {
  outline: none;
}
form .input-text.input-text-invert {
  border: 2px solid #141414;
  color: #141414;
}
form .button {
  float: right;
  margin: 12px 0;
  display: block;
  padding: 8px 12px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
form .button:hover {
  background: rgba(255, 255, 255, 0.2);
}
form .button:active {
  color: #141414;
  background: #ffffff;
}
form .button:focus {
  outline: none;
}
/* box */
.box {
  display: block;
  margin: 20px;
  padding: 14px;
  border-radius: 4px;
  background: #ffffff;
  color: #141414;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.box .box-title {
  display: block;
  margin: 0 0 7px 0;
  padding: 0 0 7px;
  border-bottom: 1px solid #e6e6e6;
}
.box .box-segment {
  padding-left: 7px;
}
.box .box-segment:hover {
  background: #fcfcfc;
}
.box .box-segment .box-segment-label {
  display: inline;
  line-height: 42px;
}
.box .box-segment .box-segment-value {
  display: block;
  float: right;
  margin: 12px;
  height: 18px;
  line-height: 18px;
  color: #404040;
}
.box .box-segment .box-segment-description {
  margin: 0 0 6px 0;
  color: #737373;
}
.box .box-segment.box-segment-toggle .box-segment-value {
  width: 14px;
  height: 14px;
  color: #404040;
  border: 2px solid currentcolor;
  font-size: 14px;
  line-height: 14px;
}
.box .box-segment.box-segment-toggle .box-segment-value:hover {
  color: #4285f4;
}
.box .box-segment.box-segment-toggle .box-segment-value:before {
  display: none;
}
.box .box-segment.box-segment-toggle .box-segment-value.active:before {
  display: block;
}
.box .box-segment.box-segment-button {
  padding-left: 0;
}
.box .box-segment.box-segment-button:hover {
  background: none;
}
.box .box-segment.box-segment-button .box-segment-label {
  display: block;
  padding: 8px 12px;
  border: 2px solid #cb4437;
  background: transparent;
  color: #cb4437;
  text-align: center;
  line-height: 1;
  margin: 12px 12px 6px;
}
.box .box-segment.box-segment-button .box-segment-label:hover {
  background: rgba(203, 68, 55, 0.2);
}
.box .box-segment.box-segment-button .box-segment-label:active {
  color: #ffffff;
  background: #cb4437;
}
.box .box-segment.box-segment-button .box-segment-label:focus {
  outline: none;
}
.box .box-segment.box-segment-button .box-segment-description {
  margin: 0 14px;
}
/* user-elements */
.user-card .user-img {
  display: block;
  margin: 7px;
  width: 64px;
  height: 64px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 16px auto;
}
.user-card .user-name {
  display: block;
  height: 26px;
  line-height: 26px;
  font-family: 'Roboto Slab', serif;
  font-size: 14pt;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 22px;
}
.user-card .button {
  display: block;
  padding: 8px 12px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  width: 96px;
  margin: 0 auto;
}
.user-card .button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.user-card .button:active {
  color: #141414;
  background: #ffffff;
}
.user-card .button:focus {
  outline: none;
}
/* list (user-list) */
.list .list-header {
  display: block;
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  color: #cb4437;
  background: #e0e0e0;
}
.list .list-header .list-header-action {
  display: block;
  float: right;
  margin: 8px 0 8px 8px;
  padding: 8px;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
.list .list-item {
  display: block;
  height: 64px;
  overflow: hidden;
  text-decoration: none;
  color: #141414;
}
.list .list-item:hover {
  background: rgba(0, 0, 0, 0.01);
}
.list .list-item .list-item-img {
  float: left;
  display: block;
  margin: 7px;
  width: 42px;
  height: 42px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.list .list-item .list-item-title {
  margin: 12px 0 0 0;
  display: block;
  height: 26px;
  line-height: 26px;
  font-family: 'Roboto Slab', serif;
  font-size: 14pt;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list .list-item .list-item-subtitle {
  display: block;
  height: 26px;
  color: #bababa;
}
/* message */
.message {
  display: block;
  position: relative;
  margin: 0 20px;
  padding: 6px 20px;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 0 6px;
}
.message:after {
  content: '';
  display: block;
  clear: both;
}
.message .message-img {
  display: block;
  position: absolute;
  top: 4px;
  width: 32px;
  height: 32px;
  background-size: 100%;
  background-color: #e0e0e0;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
}
.message.message-left .message-img {
  left: -23px;
}
.message.message-right .message-img {
  right: -23px;
}
.message .message-inner {
  position: relative;
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.message .message-inner:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
}
.message .message-inner .message-header {
  margin-bottom: 2px;
  color: #cb4437;
}
.message .message-inner .message-body {
  word-wrap: break-word;
  cursor: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-size: 12px;
  line-height: 1.4;
}
.message .message-inner .message-body a {
  color: #4285f4;
}
.message .message-inner .message-footer {
  margin-top: 2px;
  font-size: 11px;
  color: #bababa;
}
.message.message-left .message-inner {
  float: left;
}
.message.message-left .message-inner:before {
  left: -10px;
  border-right: 10px solid #fff;
}
.message.message-left .message-inner .message-footer {
  text-align: right;
}
.message.message-right .message-inner {
  float: right;
}
.message.message-right .message-inner:before {
  right: -10px;
  border-left: 10px solid #fff;
}
.message.message-right .message-inner .message-footer {
  text-align: left;
}
